<!doctype html>
<html>
  <head>
    <title>Angular Workshop</title>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.0/angular.min.js"></script>
    <script src="finance.js"></script>
    <script src="invoice.js"></script>
  </head>
  <body>
    <div ng-app="invoiceApp" ng-controller="InvoiceController as invoice">
      <b>Invoice:</b>
      <div>
        Quantity: <input type="number" min="0" ng-model="invoice.qty" required >
      </div>
      <div>
        Costs: <input type="number" min="0" ng-model="invoice.cost" required >
        <select ng-model="invoice.inCurr">
          <option ng-repeat="c in invoice.currencies">{{c}}</option>
        </select>
      </div>
      <div>
        <p><b>Total:</b></p>
        <p ng-repeat="c in invoice.currencies">
          {{invoice.total(c) | currency:c}}
        </p>
      </div>
      <button class="btn" ng-click="invoice.refresh()">Refresh</button>
    </div>
  </body>
</html>